#vcomments {
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 20px;
  border-radius: 10px;
}
.v[data-class=v] .vbtn {
  border-color: #146fd7;
  color: #fff;
  background-color: #146fd7;
}
